* {
	margin: 0;
	padding: 0;
}

body {
	background: #d0e8f2;
}

#links {
	background: #79a3b1;
	height: 70px;
	width: 1920px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#link {
	width: 12%;
	align-self: center;
	color: #fcf8ec;
	text-decoration-line: none;
}

#date-div {
	height: 70px;
	width: 1920px;
	background: #d0e8f2;
	display: flex;
	align-items: center;
	justify-content: center;
}

#date {
	display: block;
}

.blockBase {
	box-sizing: border-box;
	width: 1920px;
	height: auto;
	text-align: center;
}

#content {
	width: 1920px;
	height: 750px;
	background: #d0e8f2;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.list {
	background: #ccd;
	width: 260px;
	height: 700px;
	text-align: center;
	border-radius: 6px;
	border: solid 3px black;
	font: 12pt TimesNewRoman;
}

.table {
	background: #acf;
	width: 740px;
	height: 700px;
	text-align: center;
	border-radius: 6px;
	border: solid 3px black; 
}

.chart {
	background: #bca;
	width: 740px;
	height: 700px;
	text-align: center;
	border-radius: 6px;
	border: solid 3px black;
}

#link {
	height: 30px;
	padding-top: 5px;
	display: inline-block;
	background-color: #1984c3;
	color: #fff;
	font-size: 1.2em;
	font-family: Courier, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 0.5em;
	border-bottom: 0.25em solid #0f5177;
	-moz-transition: 0.1s;
	-webkit-transition: 0.1s;
	transition: 0.1s;
	box-shadow: 0 2px 3px #ccc;
}

#link:hover {
	background-color: #1e9feb;
	border-bottom-width: 0;
	margin-top: 0.2em;
}



