* {
	margin: 0;
	padding: 0;
}

#links {
	background: #79a3b1;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

#link {
	align-self: center;
	color: #fcf8ec;
	text-decoration-line: none;
}

#date {
	display: block;
	padding: 10px;
	background: #d0e8f2;
}

.blockBase {
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	text-align: center;
	margin: 0 auto;
}

#content {
	width: 100vw;
	height: 100%;
	background: #d0e8f2;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.list {
	background: #ccd;
	width: 15vw;
	height: 50%;
	text-align: center;
	border-radius: 6px;
	vertical-align: top;
	border: solid 3px black;
	float: left;
	font: 12pt TimesNewRoman;
	margin-bottom: 150px;
}

.table {
	background: #acf;
	width: 35vw;
	height: 50%;
	text-align: center;
	border-radius: 6px;
	vertical-align: top;
	border: solid 3px black; 
	float: left;
	margin-bottom: 150px;
}

.chart {
	background: #bca;
	width: 35vw;
	height: 50%;i
	text-align: center;
	border-radius: 6px;
	vertical-align: top;
	border: solid 3px black;
	float: left;
	margin-bottom: 150px;
}





