body {
	font: 12pt TimesNewRoman;
}

.blockBase {
    box-sizing: border-box;
    width: 1700px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

#link {
	
	align-self: center;
	color: #008B8B;
	text-decoration-line: none;
}

.list {
	background: #ccd;
	width: 210px;
	text-align: center;
	border-radius: 6px;
	vertical-align: top;
	padding: 5px;
    padding-right: 20px;
    border: solid 3px black;
    float: left;
   
}

.table {
	background: #acf;
	width: 700px;
	height: 700px;
	text-align: center;
	border-radius: 6px;
	vertical-align: top;
	padding: 5px;
    padding-right: 20px;
    border: solid 3px black; 
    float: left;
}

.chartBlok {
	background: #bca;
	width: 650px;
	height: 400px;
	text-align: center;
	border-radius: 6px;
	vertical-align: top;
	padding: 5px;
    padding-right: 20px;
    border: solid 3px black; 
    float: left;
}

.chart {
    width: 600px;
	height: 350px;
}





